@model IEnumerable<WebApplication1.Models.Perfil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia_do_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinos_Favoritos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel_de_Experiencia_em_Viagens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interesses_de_Viagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="data:image/png;base64,@item.Fotografia_do_User" alt="User Photo" style="width:100px; height:100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destinos_Favoritos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel_de_Experiencia_em_Viagens)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Interesses_de_Viagem)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID_do_Perfil">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID_do_Perfil">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID_do_Perfil">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
