@model IEnumerable<WebApplication1.Models.Viagem>

@{
    ViewData["Title"] = "Index";
}

<h1>Viagens</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia_relacionada_com_a_viagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_de_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_de_Fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itinerario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dicas_e_Recomendacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating_da_Viagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fotografia_relacionada_com_a_viagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_de_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_de_Fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Itinerario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dicas_e_Recomendacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating_da_Viagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_da_Viagem">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_da_Viagem">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_da_Viagem">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
