@model dWeb2024.Models.Grupo_de_Viagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grupo_de_Viagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_do_Grupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_do_Grupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_de_Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_de_Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_de_Fim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_de_Fim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_do_Grupo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
