@model dWeb2024.Models.Viagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_do_Grupo_de_Viagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_do_Grupo_de_Viagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografia_relacionada_com_a_viagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotografia_relacionada_com_a_viagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_de_Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_de_Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_de_Fim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_de_Fim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itenerario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itenerario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dicas_e_Recomendacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dicas_e_Recomendacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating_de_Viagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating_de_Viagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_da_Viagem">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
