@model IEnumerable<WebApplication1.Models.Alojamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoPorNoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDisponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneProprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoPorNoite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDisponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneProprietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viagem.ID_da_Viagem)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID_Alojamento">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID_Alojamento">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID_Alojamento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
