@model IEnumerable<WebApplication1.Models.Grupo_de_Viagem>

@{
    ViewData["Title"] = "Index";
}

<h1>Grupos</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_do_Grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_de_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_de_Fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_do_Grupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_de_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_de_Fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID_do_Grupo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID_do_Grupo">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_do_Grupo">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
