@model dWeb2024.Models.Mensagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mensagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_do_Remetente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_do_Remetente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_do_Destinatario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_do_Destinatario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_e_Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_e_Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografia_do_User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotografia_do_User)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_da_Mensagem">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
